<ion-item *ngIf="location" [routerLink]="'/location/' + location. locationId">
  <div slot="start"></div>
  <ion-label class="ion-text-wrap">
    <h2>
      {{ location.cityName }}
      <span class="date">
        <ion-note>{{ location.country }}</ion-note>
        <ion-icon aria-hidden="true" name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
      </span>
    </h2>
    <h3>{{ location.country }}</h3>
    <p>
     {{location.latitude}}, {{location.longitude}}
    </p>
  </ion-label>
</ion-item>